.bingo-grid{
    display: grid;
    justify-self: center;
    grid-template-columns: 28vw 28vw 28vw;
    grid-template-rows: 30vh 30vh 30vh;
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-gap: 0.1vw;
    width: 95vw;
    height: 100vh;
}