#root {
    --background: #232528;
    --bingo-bg: #7198f3;
    --bingo-bg-highlight: #a2beff;
    --bingo-bg-click: #65759c;
    --bingo-bg-complete: #2f3850;
}

.bingo-card {
    background: var(--bingo-bg);
    width: 150px;
    height: 150px;
    font-size: 23px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 3px black;
}

.bingo-card-complete {
    background: var(--bingo-bg-complete);
    width: 150px;
    height: 150px;
    font-size: 23px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 3px black;
}

.bingo-card:hover {
    background: var(--bingo-bg-highlight);
}

.bingo-card:active {
    background: var(--bingo-bg-click);
}

.bingo-card p,
.bingo-card-complete p {
    width: 130px;
    text-align: center;
    vertical-align: middle;
}

.bingo-card-complete p {
    margin-right: calc(-100% - 15px);
}

.check {
    display: none;
    grid-row: 1;
    grid-column: 1;
}

.check-complete {
    margin-top: -15px;
    margin-right: -15px;
    width: 150px;
    height: 150px;
}