#root {
    --background: #232528;
    --bingo-bg: #7198f3;
    --bingo-bg-highlight: #a2beff;
    --bingo-bg-click: #65759c;
    --bingo-bg-complete: #2f3850;
}

.bingo-card {
    background: var(--bingo-bg);
    width: 100%;
    height: 100%;
    font-size: 1vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    box-shadow: 2px 3px black;
}

.bingo-card-complete {
    background: var(--bingo-bg-complete);
    width: 100%;
    height: 100%;
    font-size: 1vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    box-shadow: 2px 3px black;
}

.bingo-card:hover {
    background: var(--bingo-bg-highlight);
}

.bingo-card:active {
    background: var(--bingo-bg-click);
}

.bingo-card p,
.bingo-card-complete p {
    width: 130px;
    text-align: center;
    vertical-align: middle;
}

.bingo-card-complete p {
}

.check {
    display: none;
    grid-row: 1;
    grid-column: 1;
}

.check-complete {
    height: 25vh;
    /* top: 5vh; */
    padding-top: 2vh;
    position: absolute;
}