#root {
    --grid-cell-width: 17vw;
}

.bingo-grid{
    display: grid;
    justify-self: center;
    grid-template-columns: var(--grid-cell-width) var(--grid-cell-width) var(--grid-cell-width) var(--grid-cell-width) var(--grid-cell-width);
    justify-content: space-evenly;
    align-content: start;
    aspect-ratio: 1/1;
    grid-gap: 2vw;
    width: 100vw;
}