#root {
    --background: #232528;
    --bingo-bg: #7198f3;
    --bingo-bg-highlight: #a2beff;
    --bingo-bg-click: #65759c;
    --bingo-bg-complete: #2f3850;
}

.bingo-card,
.bingo-card-complete {
    background: var(--bingo-bg);
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 2.5vw;
    font-weight: bold;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 3px black;
    overflow: hidden;
}

.bingo-card-complete {
    background: var(--bingo-bg-complete);
}

.bingo-card:hover {
    background: var(--bingo-bg-highlight);
}

.bingo-card:active {
    background: var(--bingo-bg-click);
}

.bingo-card p,
.bingo-card-complete p {
    width: 80%;
}

.check {
    display: none;
    grid-row: 1;
    grid-column: 1;
}

.check-complete {
    height: 25vh;
    /* top: 5vh; */
    padding-top: 2vh;
    position: absolute;
}